body {
  margin: auto;
  width: max-content;
  background-color: aliceblue;
}

.task {
  display: flex;
  gap: 10em;
  padding: 4px;
  background-color: beige;
  border-radius: 5px;
  align-items: center;
}

#container {
  width: 50rem;
  gap: 4px;
  margin-top: 10px;
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: calc(100vh - 15em);
  border-radius: 5px;
  padding: 5px;
  overflow: scroll;
  overflow-x: hidden;
}

.half {
  width: 40%;
  max-width: 40%;
  word-wrap: break-word;
  overflow-wrap: break-word;
  text-align: center;
  align-items: center;
}
